{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 Chrome versions",
            "last 2 Firefox versions",
            "last 2 ChromeAndroid versions",
            "last 2 FirefoxAndroid versions"
          ]
        },
        "modules": false,
        "loose": true
      }
    ]
  ]
}
