{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jquery": true
  },
  "globals": {
    "$": true,
    "jQuery": true,
    "Polymer": true,
    "app": true
  },
  "plugins": [
    "html",
    "import"
  ],
  "rules": {
    "arrow-parens": 2,
    "block-scoped-var": 1,
    "camelcase": 1,
    "comma-dangle": [2, "never"],
    "curly": 2,
    "eqeqeq": 2,
    "func-names": 0,
    "no-bitwise": 2,
    "no-caller": 2,
    "no-console": 0,
    "no-duplicate-case": 2,
    "no-undef": 2,
    "no-unused-vars": 1,
    "no-use-before-define": 2,
    "object-shorthand": [2, "always"],
    "one-var": [2, "never"],
    "prefer-arrow-callback": 2,
    "prefer-spread": 2,
    "semi": [2, "always"],
    "space-before-function-paren": 0,
    "trailing-spaces": 0,
    "wrap-iife": [
      2,
      "any"
    ],
    "indent": [
      2,
      2, {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      2,
      "single"
    ],
    "max-len": [
      2,
      220
    ],
    "brace-style": [2, "1tbs", {
      "allowSingleLine": true
    }],
    "new-cap": [2, {
      "newIsCap": true,
      "capIsNew": false
    }]
  }
}
