"*":
  welcome:
    showOnStartup: false
  core:
    themes: [
      "seti-ui"
      "solarized-dark-syntax"
    ]
  editor:
    invisibles: {}
    fontSize: 15
    lineHeight: 1.1
    showIndentGuide: true
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  linter: {}
  "linter-eslint":
    lintHtmlFiles: true
  minimap:
    plugins:
      "git-diff": true
  "atom-beautify":
    _analyticsUserId: "846a2c51-e063-4159-8fdb-5da28c9d1cc6"
    css_preserve_newlines: true
    css_selector_separator_newline: true
    beautifyEntireFileOnSave: false
    analytics: false
    css_force_indentation: true
    css_convert_quotes: "single"
    css_newline_between_rules: true
    css_no_lead_zero: true
  "atom-css-comb":
    readyMadeConfigs: "zen"
