"*":
  welcome:
    showOnStartup: false
  editor:
    fontSize: 17
    lineHeight: 1.1
    showIndentGuide: true
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "9295d08c-0c7b-383a-085b-88929d08cf02"
  core:
    disabledPackages: [
      "vim-mode"
    ]
    themes: [
      "seti-ui"
      "solarized-dark-syntax"
    ]
  "atom-beautify":
    css:
      convert_quotes: "double"
      force_indentation: true
      newline_between_rules: true
      selector_separator_newline: true
    general:
      _analyticsUserId: "846a2c51-e063-4159-8fdb-5da28c9d1cc6"
      analytics: false
      beautifyEntireFileOnSave: false
  "atom-css-comb":
    readyMadeConfigs: "zen"
  linter:
    errorPanelHeight: 142
  "linter-eslint":
    disableWhenNoEslintConfig: false
    lintHtmlFiles: true
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "highlight-selected": true
      selection: true
