
[user]
  name = arturparkhisenko
  email = *email here*
  signingkey = *key here*

[commit]
	gpgsign = true

[alias]

[core]
  eol = lf
  # autocrlf = true

[push]
  default = current

[credential]
  helper = cache --timeout=86400
  # helper = osxkeychain

[color]
  ui = always

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
