
[user]
  name = arturparkhisenko
  email = *email here*
  signingkey = *key here*

#[commit]
#  gpgsign = true

[alias]

[core]
  eol = lf
  # autocrlf = true

[push]
  default = current

[credential]
  helper = cache --timeout=86400
  # helper = osxkeychain

[color]
  ui = always

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
