"*":
  welcome:
    showOnStartup: false
  editor:
    fontSize: 16
    lineHeight: 1.1
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "009b4c30-7938-233f-c016-ca09c6844536"
  core:
    audioBeep: false
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  "atom-beautify":
    css:
      convert_quotes: "double"
      default_beautifier: "Pretty Diff"
      force_indentation: true
      newline_between_rules: true
      selector_separator_newline: true
    general:
      _analyticsUserId: "846a2c51-e063-4159-8fdb-5da28c9d1cc6"
      beautifyEntireFileOnSave: false
  "atom-css-comb":
    readyMadeConfigs: "zen"
  "atom-ternjs":
    useSnippets: true
  linter:
    alwaysTakeMinimumSpace: false
    errorPanelHeight: 25
    inlineTooltipInterval: 120
  "linter-eslint":
    disableWhenNoEslintConfig: false
    lintHtmlFiles: true
  "linter-stylelint":
    enableHtmlLinting: true
    usePreset: true
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      linter: true
      linterDecorationsZIndex: 0
      selection: true
  "one-dark-ui":
    layoutMode: "Compact"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
  "todo-show":
    ignoreThesePaths: [
      "**/node_modules/"
      "**/vendor/"
      "**/bower_components/"
      "**/src/bower_components/"
    ]
