"*":
  "atom-beautify":
    cpp:
      default_beautifier: "clang-format"
    css:
      convert_quotes: "double"
      default_beautifier: "Pretty Diff"
      force_indentation: true
      newline_between_rules: true
      selector_separator_newline: true
    general:
      _analyticsUserId: "846a2c51-e063-4159-8fdb-5da28c9d1cc6"
      beautifyEntireFileOnSave: false
  "atom-css-comb":
    readyMadeConfigs: "zen"
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": false
  "atom-ternjs":
    useSnippets: true
  core:
    disabledPackages: [
      "javascript-snippets"
      "language-javascript-better"
      "vim-mode"
      "whitespace"
      "atom-typescript"
      "linter-php"
      "linter-flow"
      "linter-luaparse"
      "php-cs-fixer"
    ]
    openEmptyEditorOnStart: false
    restorePreviousWindowsOnStart: "always"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
    warnOnLargeFileLimit: 5
  editor:
    fontSize: 17
    lineHeight: 1.3
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "acd480d9-1ccb-1075-75e5-442a75cdf688"
  linter: {}
  "linter-eslint":
    lintHtmlFiles: true
  "linter-flow": {}
  "linter-luacheck": {}
  "linter-stylelint":
    enableHtmlLinting: true
    usePreset: true
  "linter-ui-default":
    panelHeight: 70
    showPanel: true
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      linter: true
      linterDecorationsZIndex: 0
      selection: true
  "prettier-atom":
    prettierOptions:
      singleQuote: true
    useEslint: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
  "todo-show":
    ignoreThesePaths: [
      "**/node_modules/"
      "**/vendor/"
      "**/bower_components/"
      "**/src/bower_components/"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
